/*RESET*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.navBar{
	width: 100vw;
	height: 11vh;
	background:#262626;
	display: flex;
	align-items: center;
	.logo{
		width: 4rem;
		padding: 1vh;
	}
	ul{
		width: 100%;
		li{
			vertical-align: baseline;
			display: inline-block;
			color: #f3f3f3;
			font-family: 'Montserrat', sans-serif;
			vertical-align: bottom;
			padding-left: 3vw;
		}
	}
}
