.footer{
  width: 100%;
  display: flex;
  height: 77rem;
  background: #262626;

  .contactUs{
    z-index: 20;
  	margin: 0 15%;
  	position: relative;


    .titleBoxContact{
  		z-index: 1;
      margin: 30px 0;

  		h3{
  			font-family: $titleFont;
  			font-weight: 900;
  			font-size: 7.8rem;
        color: #FFFFFF;
  		}
  		span.underTitles{
  			position: absolute;
  			font-family: 'Againts';
  			font-size: 11rem;
  			opacity: 0.15;
        top: -20px;
        left: 10px;

  		}
  	}
  }
.Social{
  width: 100%;
  margin: 15% 9%;

  .SocialIcon{
    display: flex;
    justify-content: space-between;

    img{
      width: 70px;
      height: 70px;
    }
  }
}
form{
  margin-top: 8em;

  input, textarea{
    width: 25em;
    height: 1.5em;
    display: block;
    background-color:  rgba(0, 0, 0, 0);
    border-bottom: .01em solid #ccc;
    font-family: Montserrat;
    margin-top: -1.5em;
    color: #fff;
    font-size: 1.7rem;
    margin: 30px 0;
    outline: none;
  }

  textarea{
    height: 250px;
  }

  button{
    display: inline-block;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: .3em 1em;
    margin-top: 1em;
    font-family: $txtFont;
    font-style: italic;
    color: white;
    border: 1px white solid;
    background: none;
    font-weight: 900;
    font-size: 1.4rem;
  }
  }
}
